{% extends "base.html" %}

{% block main%}
{% include "flash_messages.html"%}

<div class="prop-container ">
    <h1 class="title2">Properties</h1>
	<div class="paddding">
	<div class="grid-container">
	
    {% for propA in Aproperties %}
    <div class="prop ">
        <image src="{{ url_for('get_image', filename=propA['photo']) }}" class="display-grid-pic">
        <div class="text-paddding">
		<div class="margin">
            <span class="headr ">{{ propA['title'] }}</span>
			</div>
			<div  class="Row">
			<image src="{{ url_for('static', filename='icon/location.png')}}" class="icon">			
            <span class="faide">{{ propA['location'] }}</span> 
			</div>
			<div class="margin-top">
            <span class="btn-style">{{ propA['price'] }}</span>
			</div>
        </div>
		<div class="view-btn" >
            <a class="" href="{{ url_for('inidi_property', propertyid=propA['id']) }}">View Property</a>
        </div>
 </div>
    {% endfor %}
	</div>
		</div>
</div>
{% endblock%}